/*------------------nav----------------------------*/
#nav{
	position:fixed;
	background-color: #f2f2ea;
	width: 220px;
	border-right: 1px solid #dedcdc;
	height: 100%;
	top:0;
	left: 0;
}

#nav .nav-logo{
	position: fixed;
	top: 0;
	left: 0;
	width: 220px;
	z-index: 10;
}

#nav .nav-logo a {
	display: block;
	line-height: 70px;
	/*background: url("/images/baihuogou.png") no-repeat 20px center;*/
	font-size: 18px;
	color:  #fff;
	padding: 0 0 0 60px;

}



#nav ul:first-child{
	padding-top: 77px;
}

#nav ul li{
	border-bottom: 1px solid #dedcdc;
	margin-top: 1px;
}

#nav ul li a {
	padding: 10px 10px 10px 25px;
	color: #333;
	font-size: 14px;
}


#nav ul li ul li a {
	padding: 10px 10px 10px 45px;
}

.menu ul li .inactive {
    /*background: url("/img/off.png") no-repeat scroll right top transparent;*/
}

.menu ul li .active {
    /*background: url("/img/on.png") no-repeat scroll right top transparent;*/
}

/*-----------------page-header------------------------*/
#header{
	position:fixed;
	top:0;
	right: 0;
	left:220px;
	height: 50px;
	line-height:50px;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #eaeaea 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#eaeaea));
             background: -webkit-linear-gradient(top, #f9f9f9 0%,#eaeaea 100%);
             background: -o-linear-gradient(top, #f9f9f9 0%,#eaeaea 100%);
             background: -ms-linear-gradient(top, #f9f9f9 0%,#eaeaea 100%);
             background: linear-gradient(to bottom, #f9f9f9 0%,#eaeaea 100%);
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eaeaea',GradientType=0 );
}

#header .head-nav ul li a{
	padding: 0 10px;
	color: #333;
}

#header .head-nav ul li a:hover{
	color: #28B779;
}

#header .head-nav ul li .task-add{
	color: #28B779;
}

.task-add{
  font-size: 26px;
  padding: 0 20px !important;
}

/*------------------content---------------------------*/
#content{
	position: fixed;
	left:220px;
	top:50px;
	right:0;
	padding:20px 0;
	bottom: 50px;
	overflow:auto;
}


/*------------------content---------------------------*/
#footer{
	position: fixed;
	left: 220px;
	bottom: 0;
	right: 0;
	border-top: 1px solid #eaeaea;
	height: 40px;
	color: #666;
}

#footer span{
	margin-right: 15px;
}

/*---------------------navicate----------------------*/
.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
}
.nav {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}
ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
}

.nav-pills > li {
    float: left;
}
.nav > li {
    display: block;
    position: relative;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
}
.nav-pills > li > a {
    border-radius: 4px 4px 4px 4px;
}
.nav > li > a {
    display: block;
    padding: 10px 15px;
    position: relative;
}
